<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pe" class="com.example.car.PetrolEngine"/>

    <bean id="car" class="com.example.car.Car">
        <property name="engine" ref="pe"/>
    </bean>

</beans>